@import url('https://fonts.googleapis.com/css?family=Thasadith:700');

/* https://coolors.co/041725-1b374b-3d232c-c39c93-d6c9ba */
/* https://coolors.co/ffffff-74b0bc-ccc5b9-d5cedd-326273 */
:root {
  --white: #ffffff;
  --blue: rgb(183, 232, 255);
}


body {
  background: var(--white);
}
