@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet');

/* https://coolors.co/041725-1b374b-3d232c-c39c93-d6c9ba */
/* https://coolors.co/ffffff-74b0bc-ccc5b9-d5cedd-326273 */

:root {
  --white: #ffffff;
  --black: #0B0C10;
  --grey: #1F2833;
  --lightgrey: #C5C6C7;
  --brightteal: #66FCF1;
  --teal: #45A29E;
}

* {
  font-family: 'Archivo Narrow', sans-serif;
}

body {
  background: var(--white);
  font-family: 'Archivo Narrow', sans-serif !important;
}

.btn-primary {
  border: none !important;
  background-color: var(--teal) !important;
}